/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/* Responsividade */

/* Tamanho ajustado para telas pequenas */
@media (max-width: 767px) {
    .inicioH .sobreH .contatoH {
    width:auto; 
  }
  h1.sobreH {
    font-size: 1.5rem; 
  }
  p.sobre {
    font-size: 1rem;
  }
}

/* Tamanho ajustado para telas medias */
@media (min-width: 768px) and (max-width: 991px) {
  .inicioH .sobreH .contatoH {
  width:auto; 
}
h1.sobreH {
  font-size: 1.5rem; 
}
p.sobre {
  font-size: 1rem;
}
}

/* Tamanho ajustado para telas grandes */
@media (min-width: 992px) {
  .inicioH .sobreH .contatoH {
  width:auto; 
}
h1.sobreH {
  font-size: 2.5rem;
}
p.sobre {
  font-size: 1.5rem;
}
}

/* Body */

header{
    width:auto;
    margin:0;
    padding:0;        
}

#body{
  background-color:#00142D;
  width:100%;
}

.bodyI{
  width:100%;
}

.bodysite{
  width:100%;
}

/* Página - Sobre */
.sobreH{
  text-align:justify;
  font-family:"Lobster";
  color:white;
  }

.sobre{
    font-size:20px;
    text-align:justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
  }

  /* Página Contato */
  .contatoH{
    text-align:justify;
    font-family:"Lobster";
    color:white;
    }

  #redes{
    margin-left:30px;
  }

  /* Inicio */
.inicioH{
  text-align:center;
  font-family:"Lobster";
  color:white;
  }

.inicioText{
    text-align:center;
    font-family:"Lobster";
    color:white;
    }

.livros{
justify-content: center;
}

.containerInicio{
  justify-content: center;
  align-items:center;
  margin:0 auto;
}

.inicioR {
  justify-content: center;
}

.inicioR .livro-harry {
  width: 500px;
}


